header ul li:last-child a {
    background-image: linear-gradient(to bottom, #ffc2a5 0%, 
#fb874f 50%, #ffc2a5 100% );
}


.info {    
    color: #a32926;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    float:right;
}

label {
	float: left;
}

